   <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12" style="margin-top: 20px;">
                    <center>
                        <%= image_tag 'def-img', class: 'circle responsive-img' %>
                        <p class="dash-name">Welcome, <%= @user.full_name%>!</p>

                        <div class="">
                            <p>Privilege: <span>Admin</span></p>
                            <a href="#topicmodal" class="btn flat modal-trigger" style="margin-bottom: 40px;">Create Topic</a>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div class="section"></div>
    <div class="section"></div>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="base_color">Your recent topics</h5>
        <div class="divider"></div>
      </div>
    </div>

  <div class="row">
    <% @user_topics.each do |topic| %>
      <div class="col s12 m4">
        <div class="card darken-1">
          <div class="card-content black-text">
            <h2 class="card-title truncate" title="<%= topic.title%>"><%= topic.title %></h2>
            <div class="divider"></div>
            <p style="margin-top: 30px;"><%= topic.description %></p>
          </div>
          <div class="card-action">
            <span><%= pluralize(@comments, "comment")%></span>
            <%= link_to 'View', topic_path(topic), class: 'right' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>


<!-- Modal -->
<%= form_for(@topic, url: topics_path, remote:true,  html:{ 'data-parsley-validate' => '' }) do |f| %>
<div id="topicmodal" class="modal">
  <div class="modal-content">
    <h5>
      New Topic
    </h5>
    <div class="divider"></div>
    
        <div class='row'>
          <div class='input-field col s12'>
            <%= f.text_field :title, required: true, 'data-parsley-minlength': '1', 'data-parsley-maxlength': '140','data-parsley-trigger': 'blur'  %>
            <label for='title'>Title</label>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            <%= f.text_area :description, class: 'materialize-textarea', placeholder: 'Write something nice...', required: true, 'data-parsley-minlength': '1', 'data-parsley-maxlength': '140','data-parsley-trigger': 'blur'
             %>
            <label for='description'>Description</label>
          </div>
        </div>

  </div>
  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    <%= f.submit "Post", class: 'modal-action waves-effect waves-light btn-flat' %>
  </div>
</div>

<% end %>

<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>